// Customizations pertaining to the header

#site-header {
  margin: 0 auto;
}

@supports ( left: -2%) and ( width: 100vw ) {
  #site-header,
  #main-nav,
  #secondary-nav {
    width: 100vw;
    position: relative;
    left: -2%;
  }

  #topics-bar,
  .navbar-inner .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}
#secondary-nav {
  margin-top: 0;
  border-bottom: none;
  background-color: #B43018;
  color: #FFF;
  background-image: -moz-linear-gradient(top, #932714, #B43018);
  background-image: -ms-linear-gradient(top, #932714, #B43018);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#932714), to(#B43018));
  background-image: -webkit-linear-gradient(top, #932714, #B43018);
  background-image: -o-linear-gradient(top, #932714, #B43018);
  background-image: linear-gradient(top, #932714, #B43018);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#932714', endColorstr='#B43018', GradientType=0);
  a {
    color: #FFF;
  }
  .menu-item {
    border-right: 1px solid #FFF;
    padding-right: 5px;
  }
  .menu-item:last-child {
    border:none;
  }
  ul {
    margin: 0;
    font-family: @sans;
    font-size: 14px;

    li {
      display: inline;
      margin-right: 5px;
      white-space: nowrap;

      h4 {
        font-size: 14px;
        margin-bottom: 0;
        display: inline;
        font-weight:800;
      }
    }
  }
}


#sponsor {float: left; width:65%;}
#top_comments {float:right; color: #FFFFFF; max-width: 26%; font-size:14px; background: @greyMed; min-height: 100%;}
#top_comments a {color: #FFFFFF;text-decoration:none;}
.testimonial_content {font-family: @sans; font-size: 14px;}
.testimonial_author {font-style:italic; padding:5px 0 0 10px; display:none;}

#site-header .header_img {
  float: left;
  clear: none;
  margin-top: 25px;
  margin-right: 0;
  // The header image used to overlay the main nav
  // I'm disabling this because it was preventing clicking on some of the nav links.
  // margin-bottom:-17px !important;
  // z-index: 1;
  margin-left: 75px;
  position: relative;
}

.navbar {
  font-family: @sans;
  margin-bottom: 0;
}
.navbar-inner {
  background-color: @khaki;
  background-image: -moz-linear-gradient(top, @greyMed, @khaki);
  background-image: -ms-linear-gradient(top, @greyMed, @khaki);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@greyMed), to(@khaki));
  background-image: -webkit-linear-gradient(top, @greyMed, @khaki);
  background-image: -o-linear-gradient(top, @greyMed, @khaki);
  background-image: linear-gradient(top, @greyMed, @khaki);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@greyMed', endColorstr='@khaki', GradientType=0);

  .nav > li > a {
    color: white;

    &:hover {
      background-color: @greyDark;
    }
  }
}
#menu-dont-miss {
  padding-left: 10px; // to match the padding on the main menu items.
  min-height: 28px;
  padding-bottom: 3px;
}

@media (max-width: 1120px) {
  .navbar .btn-navbar:hover {
    background-color: @textBody;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background-position: -100px 0;
  }
  .navbar .btn-navbar:hover .label {
    color: #fff;
  }
  .navbar .btn-navbar:hover .icon-bar {
    background-color: #fff;
  }
}
@media (max-width: 768px) {
  #ad-banner-container, .navbar, .footer-bg {
    min-width:auto;
  }
}
