// colors
@black: #000;
@greyDark: #333;
@greyMed: #595953;
@white: white;

@mud: hsl( 32, 6%, 47% );
@brown: hsl( 34, 7%, 63% );
@khaki: #f2f1ec;

@brick: #B43018;
@brickDark: #932714;

// define vars to match colors
@textBody: @greyDark;

// Fonts
@sans: "news-gothic-std", Helvetica, Arial, sans-serif;
@serif: "minion-pro", Georgia, "Times New Roman", Times, serif;
